.home-section {
    background-image: url(./assets/home/background-home-mobile.jpg);
    background-repeat: no-repeat;
}

@media (min-width: 600px) {
    .home-section {
        background-image: url(./assets/home/background-home-tablet.jpg);
    }
}

@media (min-width: 900px) {
    .home-section {
        background-image: url(./assets/home/background-home-desktop.jpg);
    }
}